html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #333333;
}

h1, h2, h3 {
	margin: 0;
	padding: 0.8em 0 0 0.8em;
	font-weight: bold; 
}

p {
	padding: 0.5em 0.8em 0.5em 1.0em;
}

h1 {
	font-size: 2.4em;
	position: fixed;
	display: block;
	padding: 0;
	left: 3em;
	top: 2%;
	z-index: 65536;
	color: white;
	text-shadow: 2px 2px 5px black;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.0em;
}

em {
	color: black;
}

li {
	list-style-type: disc;
	margin-left: 2.2em;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#map_canvas {
	width: 100%;
}

#input_address {
	position: fixed;
	left: 35%;
	top: 2.5%;
	width: 30%;
	height: 1.1em;
	font-size: 1.5em;
	z-index: 65536;
	background: url(../img/search.png) no-repeat 3% 50% #FFFFFF;
	padding: 0.2em 0.2em 0.2em 1.8em;
}

#area_info, #clicked_point {
	background-color: #EEEEEE;
}

#informations {
	position: absolute;
	right: 0;
	width: 25%;
	max-width: 350px;
	top: 0;
	height: 100%;
	padding: 0;
	background-color: #ffffff;
	opacity: 0.9;
}

#address_info {
	overflow-y: scroll;
}
