html,
body
{
    font-family: Arial, sans-serif;
    font-size: 13px;

    height: 100%;
    margin: 0;
    padding: 0;

    color: #333;
}

h1,
h2,
h3
{
    font-weight: bold;

    margin: 0;
    padding: .8em 0 0 .8em;
}

p
{
    padding: .5em .8em .5em 1.0em;
}

h1
{
    font-size: 2em;

    position: fixed;
    z-index: 65536;
    top: 2%;
    left: 3em;

    display: block;

    padding: 0;

    color: white;
    text-shadow: 2px 2px 5px black;
}

h2
{
    font-size: 1.2em;
}

h3
{
    font-size: 1.0em;
}

em
{
    color: black;
}

li
{
    margin-left: 2.2em;

    list-style-type: disc;
}

a
{
    color: #3498db;
}

.clearfix:after
{
    display: block;
    clear: both;

    content: '';
}

#wrapper
{
    width: 100%;
    height: 100%;
}

#map_google,
#map_osm
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}

#controls
{
    position: fixed;
    z-index: 65536;
    top: 2.5%;
    right: 0;
    left: 0;

    height: 1.1em;
    margin: 0 auto;
}

#search_box
{
    height: 140%;
}

.icon-search
{
    font-size: 2em;
    line-height: 100%;

    position: absolute;
    left: .2em;

    color: #3498db;
}

#input_address
{
    font-size: 1.5em;

    width: 10em;
    height: 100%;
    padding: .2em .2em .2em 2.1em;

    border: 1px solid #3498db;
}

.icon-bookmark
{
    font-size: 2.1em;
    line-height: 100%;

    display: block;

    color: white;
}
.icon-bookmark:hover
{
    cursor: pointer;

    opacity: .8;
}

#bookmark
{
    position: absolute;
    top: 320%;

    display: none;
    overflow-x: hidden;
    overflow-y: scroll;

    width: 12em;
    height: auto;
    padding: .5em 1em .5em .5em;

    background-color: white;
}

#bookmark:after
{
    position: absolute;
    top: -12px;
    left: 45%;

    content: '';

    border-right: 12px solid transparent;
    border-bottom: 15px solid white;
    border-left: 12px solid transparent;
}



.icon-plus
{
    font-size: 1.6em;

    position: absolute;
    top: .4em;

    color: #666;
}
.icon-plus:hover
{
    cursor: pointer;

    color: #3498db;
}
.icon-plus:active
{
    top: .65em;
}

#input_bookmark
{
    font-size: 1.2em;
    line-height: 1.5em;

    width: 84%;
    margin-bottom: .2em;
    padding: .2em .2em .2em 1.6em;

    border-top: none;
    border-right: none;
    border-bottom: 1px solid #999;
    border-left: none;
}

#bookmark li
{
    font-size: 1.2em;
    line-height: 1.5em;

    width: 100%;
    margin: .3em 0 0 0;
    padding: 0 .5em;

    list-style-type: none;

    background-color: #eee;
}
#bookmark li:hover
{
    cursor: pointer;

    background-color: skyblue;
}
.bkm_li_hover
{
    background-color: skyblue !important;
}

.icon-delete-bookmark
{
    font-size: 1.4em;

    position: absolute;
    right: .5em;

    color: #666;
}
.icon-delete-bookmark:hover
{
    color: darkred;
}
.icon-delete-bookmark:active
{
    font-weight: bold;
}

#center_info,
#clicked_point
{
    padding: .5em .8em .5em 1.0em;

    background-color: #eee;
}

#informations
{
    position: absolute;
    top: 6%;
    right: 0;

    width: 260px;
    max-width: 350px;
    height: 91%;
    padding: 0;

    opacity: .85;
    background-color: #fff;
}

#address_info
{
    overflow-y: scroll;
}

.llstring
{
    font-weight: bold;

    width: 90%;
    padding: 1px 0;

    border: none;
    background-color: inherit;
}

.copyright
{
    font-size: 11px;

    position: absolute;
    z-index: 1000001;
    right: 0;
    bottom: 0;
    left: 0;

    width: 19em;
    height: 13px;
    margin: 0 auto;
    padding: 0 1em;

    color: #333;
    background-color: rgba(255, 255, 255, .6);
}

#mapswitch
{
    /*font-family:arial,tahoma;*/
    font-size: 16px;
    font-weight: bold;

    width: 10em;
    height: 1.83em;
    padding: .25em;

    text-align: center;

    color: white;
    color: #fff;
    border: 0;
    outline: 0;
    background: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'50px\' height=\'50px\'><polyline points=\'46.139,15.518 25.166,36.49 4.193,15.519\'/></svg>');
    background-repeat: no-repeat;
    background-position: right .3em top 50%;
    background-size: 16px 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);

    -webkit-appearance: none;
}

#mapswitch option
{
    padding: .2em 0;
}

.round
{
    border-radius: 3px;
}
.ease-transition
{
    -webkit-transition: .3s ease all;
       -moz-transition: .3s ease all;
        -ms-transition: .3s ease all;
         -o-transition: .3s ease all;
            transition: .3s ease all;
}

#mapswitch,
.icon-bookmark
{
    height: 100%;
    margin-left: 16px;

    background-color: #3498db;
}

#mapswitch:hover,
.icon-bookmark:hover
{
    background-color: #2980b9;
}

.control-elm
{
    float: left;
}
