html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #333333;
}

h1, h2, h3 {
	margin: 0;
	padding: 0.8em 0 0 0.8em;
	font-weight: bold; 
}

p {
	padding: 0.5em 0.8em 0.5em 1.0em;
}

h1 {
	font-size: 2.4em;
	position: fixed;
	display: block;
	padding: 0;
	left: 3em;
	top: 2%;
	z-index: 65536;
	color: white;
	text-shadow: 2px 2px 5px black;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.0em;
}

em {
	color: black;
}

li {
	list-style-type: disc;
	margin-left: 2.2em;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#map_canvas {
	width: 100%;
}

#controls {
	position: fixed;
	left: 35%;
	top: 2.5%;
	width: 450px;
	height: 1.1em;
	z-index: 65536;	
}

#search_box {
	width: 80%;
	height: 140%;
	float: left;
}

.icon-search {
	position: absolute;
	left: 0.2em;
	font-size: 2.2em;
	color: #666666;
}

#input_address {
	width: 80%;
	font-size: 1.5em;
	padding: 0.2em 0.2em 0.2em 2.1em;
	height: 100%;
}

#bookmark_box {
	width: 20%;
	height: 140%;
	float: left;
}

.icon-bookmark {
	float: left;
	font-size: 2.3em;
	background-color: cornflowerblue;
	color: white;
	display: block;
}
.icon-bookmark:hover {
	cursor: pointer;
	opacity: 0.8;
}

#bookmark {
	display: none;
	width: 40%;
	height: auto;
	left: 61%;
	top: 320%;
	position: absolute;
	background-color: white;
	padding: 2%;
	overflow-y: scroll;
}

#bookmark:after {
	content: '';
	position: absolute;
	border-bottom: 15px solid white;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	top: -12px;
	left: 45%;
}

.icon-plus {
	position: absolute;
	left: 0.5em;
	top: 0.6em;
	font-size: 1.6em;
	color: #666666;
}
.icon-plus:hover {
	cursor: pointer;
	color: skyblue;
}
.icon-plus:active {
	top: 0.65em;
}

#input_bookmark {
	width: 84%;
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 0.2em 0.2em 0.2em 1.6em;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #999999;
	margin-bottom: 0.2em;
}

#bookmark li {
	list-style-type: none;
	font-size: 1.2em;
	margin: 0.3em 0 0 0;
	padding: 0 0.5em;
	background-color: #EEEEEE;
	width: auto;
	line-height: 1.5em;
}

#bookmark li:hover {
	cursor: pointer;
	background-color: skyblue;
}

.icon-delete-bookmark {
	position: absolute;
	right: 0.5em;
	font-size: 1.4em;
	color: #666666;
}
.icon-delete-bookmark:hover {
	color: darkred;
}
.icon-delete-bookmark:active {
	font-weight: bold;
}

#center_info, #clicked_point {
	background-color: #EEEEEE;
}

#informations {
	position: absolute;
	right: 0;
	width: 260px;
	max-width: 350px;
	top: 6%;
	height: 91%;
	padding: 0;
	background-color: #ffffff;
	opacity: 0.9;
}

#address_info {
	overflow-y: scroll;
}

.hint-info {
	padding: 0.2em 1em;
	text-align: right;
	margin-bottom: -1.5em;
}

#close_info {
	text-decoration: underline;
	color: mediumblue;
}
#close_info:hover {
	cursor: pointer;
}